.booking {
  display: grid;
  grid-template-columns: 484px 484px;
  grid-template-areas:
    "calender slot"
    "bookingfooter bookinfooter";
}

.calender {
  grid-area: calender;
}

.slots {
  grid-area: slot;
}
.calender,
.slots {
  height: 494px;
}

.booking_footer {
  grid-area: bookingfooter;
}
