.booking {
  display: grid;
  grid-template-columns: 464px 464px;
  grid-template-areas:
    "calender slot"
    "bookingfooter bookingfooter";
}

.calender {
  grid-area: calender;
}

.slots {
  grid-area: slot;
  background-color: #fff;
}
.calender,
.slots {
  height: 494px;
}

.booking_footer {
  grid-area: bookingfooter;
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: var(--d-green);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.poweredby {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
}

.next_btn {
  display: flex;
  /* height: 48px; */
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid var(--d-green);
  background: #fff;
  color: var(--d-green);
  cursor: pointer;
}

#next {
  color: var(--text-color-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

#appointo {
  text-decoration-line: underline;
}

.next_icon {
  color: var(--d-green);
  display: flex;
  align-items: center;
  font-size: 15px;
}

@media (max-width: 950px) {
  .booking {
    grid-template-columns: 364px 364px;
  }
  .calender,
  .slots {
    height: 430px;
  }
}

@media (max-width: 768px) {
  .booking {
    grid-template-columns: 294px 294px;
  }
  .calender,
  .slots {
    height: 370px;
  }
  .booking_footer {
    padding: 10px 25px;
  }
  .next_btn {
    padding: 6px 18px;
  }
  .poweredby {
    font-size: 10px;
  }
  #next {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 640px) {
  .booking {
    display: flex;
    flex-direction: column;
    width: 294px;
  }
}
