.calender_comp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-1);
  padding: 40px;
}

.cal_info > h3 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--text-color-2);
}
.cal_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.time_zone {
  display: flex;
  gap: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-color-3);
}
.zone {
  font-weight: 400;
}

.cal {
  background-color: var(--bg-3);
  /* width: 100%; */
  height: 334px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 4px;
}

.date_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px 10px 16px;
}

.icon {
  color: var(--d-green);
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 50%;
  padding: 6px 2px 4px 7px;
}

.icon:hover {
  background-color: var(--l-green);
}

.curr_date {
  color: var(--text-color-4);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.month {
  height: 257px;
}
.weekday,
.dates {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--d-green);
  padding: 5px;
}

.week,
.month_dates {
  display: grid;
  grid-template-columns: repeat(7, 52px);
  column-gap: 2px;
  row-gap: 10px;
  place-items: center;
}
.dates {
  width: 42px;
  color: var(--text-color-4);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 99px;
}

.dates:hover {
  background-color: var(--l-green);
}

.selected_date {
  background-color: var(--d-green);
  color: white;
}
.selected_date:hover {
  background-color: var(--d-green);
}

@media (max-width: 950px) {
  .dates {
    width: 35px;
  }
  .week,
  .month_dates {
    grid-template-columns: repeat(7, 38px);
    column-gap: 1px;
    row-gap: 10px;
  }
  .weekday,
  .dates {
    padding: 0;
  }
  .cal {
    height: 265px;
  }
}

@media (max-width: 768px) {
  .calender_comp {
    padding: 28px;
  }

  .cal_info > h3 {
    font-size: 18px;
    line-height: 28px;
  }

  .time_zone {
    font-size: 12px;
    line-height: 18px;
  }

  .cal {
    height: 230px;
  }

  .dates {
    width: 30px;
  }

  .weekday,
  .dates {
    font-size: 12px;
    line-height: 18px;
  }

  .week,
  .month_dates {
    grid-template-columns: repeat(7, 32px);
  }

  .date_info {
    padding: 10px 11px 7px 11px;
  }
  .curr_date {
    font-size: 14px;
    line-height: 22px;
  }
}
