.calender_comp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-1);
  padding: 40px;
}

.cal_info > h3 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--text-color-2);
}
.cal_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.time_zone {
  display: flex;
  gap: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-color-3);
}
.zone {
  font-weight: 400;
}

.cal {
  background-color: var(--bg-3);
  /* width: 100%; */
  height: 334px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 4px;
}

.date_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px;
}

.icon {
  color: var(--d-green);
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.curr_date {
  color: var(--text-color-4);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.month {
  height: 257px;
}
.weekday,
.dates {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--d-green);
  padding: 5px;
}

.week,
.month_dates {
  display: grid;
  grid-template-columns: repeat(7, 52px);
  column-gap: 5px;
  row-gap: 10px;
  place-items: center;
}
.dates {
  width: 42px;
  color: var(--text-color-4);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.selected_date {
  background-color: var(--d-green);
  color: white;
  border-radius: 99px;
}
