* {
  --d-green: #378760;
  --l-green: #cce7e0;
  --text-color: #090f4e;
  --text-color-2: #28293d;
  --text-color-3: #555770;
  --text-color-4: #333333;
  --bg-1: #ebebf0;
  --bg-2: #f2f2f5;
  --bg-3: #fafafc;
  --border-color: #c7c9d9;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.b_comp {
  display: flex;
  justify-content: center;
  align-items: center;
}
